---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"testrand","description":"Test Tag","color":"#ffffff"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_mKEbvjebBXTY3Kxwq2xpUMvQK7y","type":"tags","attributes":{"name":"testrand","slug":"testrand","description":"Test Tag","color":"#ffffff","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ef07badbc6bea7b613c0013b7de04f0d"
        status: 201 Created
        code: 201
        duration: 1.117609833s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"tag_mKEbvjebBXTY3Kxwq2xpUMvQK7y","type":"tags","attributes":{"name":"testrand","description":"updated tag","color":"#fafadc"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_mKEbvjebBXTY3Kxwq2xpUMvQK7y
        method: PATCH
      response:
        body: '{"data":{"id":"tag_mKEbvjebBXTY3Kxwq2xpUMvQK7y","type":"tags","attributes":{"name":"testrand","slug":"testrand","description":"updated tag","color":"#fafadc","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"7f7de74cbf8f20ee7a17e021b73cb15b"
        status: 200 OK
        code: 200
        duration: 965.285916ms
[...]
