---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/plans/operating_systems
        method: GET
      response:
        body: '{"data":[{"id":"os_KgXQvNe3azpbP","type":"operating_system","attributes":{"name":"CentOS 7.4","distro":"centos","slug":"centos_7_4_x64","version":"7.4","user":"centos","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"provisionable_on":["g3.h100.large","t3.spot","t4.spot","c3.small.x86","c2.medium.x86","c2.large.x86","c1.medium.x86","g3.h100.medium","g3.a100.large","c1.small.x86","s3.large.x86","m3.large.x86","s2.small.x86","c2.small.x86","g3.l40s.large","g3.h100.small","c3.large.x86","c1.tiny.x86","m4.metal.small","m4.metal.medium","rs4.metal.large","m4.metal.large","rs4.metal.xlarge","t2.spot"]}},{"id":"os_Vy3ZXaDW5p2ml","type":"operating_system","attributes":{"name":"CentOS 8","distro":"centos","slug":"centos_8_x64","versio[...]
