---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_1Gjban1XE5L2w","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-06-28T19:00:03+00:00","updated_at":"2024-06-28T19:00:03+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"c0500639d75ce8254b4051427c335c27"
        status: 201 Created
        code: 201
        duration: 3.79870375s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_1Gjban1XE5L2w","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_22_04_x64_lts","hostname":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_ZozMaznr2a7kw","attributes":{"hostname":"testrand","label":"205S013092","role":"Bare Metal","status":"starting_deploy","primary_ipv4":"103.88.235.115","specs":{"cpu":"Xeon E-2276G CPU @ 3.80GHz (6 cores)","disk":"480 GB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"a956cf8af2021be89001738ec825a659"
        status: 201 Created
        code: 201
        duration: 2.405851666s
    - id: 2
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_ZozMaznr2a7kw
        method: GET
      response:
        body: '{"data":{"id":"sv_ZozMaznr2a7kw","type":"servers","attributes":{"tags":[],"hostname":"testrand","label":"205S013092","price":1349.0,"role":"Bare Metal","primary_ipv4":"103.88.235.115","status":"on","ipmi_status":"Normal","created_at":"2024-06-28T19:00:11+00:00","scheduled_deletion_at":null,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"project":{"id":"proj_1Gjban1XE5L2w","name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":null,"billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"stats":{"ip_addresses":0,"prefixes":0,"servers":1,"containers":0,"vlans":0}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_22_04_x64_lts","version":"22.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"jammy"}},"specs":{"cpu":"Xeon E-2276G CPU @ 3.80GHz (6 cores)","disk":"480 GB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"857d499c0a5775ad4edc07de89e074bf"
        status: 200 OK
        code: 200
        duration: 1.34013s
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network","attributes":{"description":"Testing golang client","site":"SAO","project":"proj_1Gjban1XE5L2w"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks
        method: POST
      response:
        body: '{"data":{"id":"vlan_dYjv5rgk1aqp7","type":"virtual_networks","attributes":{"tags":[],"vid":2085,"name":"SAO-2085","description":"Testing golang client","site":"SAO"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"c35f448dff909298752b2d5032defcf7"
        status: 201 Created
        code: 201
        duration: 1.043311167s
    - id: 4
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network_assignment","attributes":{"server_id":"sv_ZozMaznr2a7kw","virtual_network_id":"vlan_dYjv5rgk1aqp7"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments
        method: POST
      response:
        body: '{"data":{"id":"vnasg_y3ZXaDKnQ5p2m","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_dYjv5rgk1aqp7","vid":2085,"server_id":"sv_ZozMaznr2a7kw","description":"Testing golang client","status":"connecting"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4ab74b173937060e266fd77e3dff025d"
        status: 201 Created
        code: 201
        duration: 3.693872125s
    - id: 5
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/assignments
        method: GET
      response:
        body: '{"data":[{"id":"vnasg_y3ZXaDKnQ5p2m","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_dYjv5rgk1aqp7","vid":2085,"description":"Testing golang client","status":"connecting","server":{"id":"sv_ZozMaznr2a7kw","hostname":"testrand","label":"205S013092","status":"on"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"bf6732ede1fbaaa339f89d349622b98f"
        status: 200 OK
        code: 200
        duration: 621.87075ms
[...]
    - id: 7
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments/vnasg_y3ZXaDKnQ5p2m
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 2.276835125s
    - id: 8
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/vlan_dYjv5rgk1aqp7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 2.073417458s
[...]
    - id: 10
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_1Gjban1XE5L2w
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.18065525s
