---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_XDO7NYqdeNPgw","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-06-28T18:55:00+00:00","updated_at":"2024-06-28T18:55:00+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"2439b8b3e6f4060a37be69ad066290fc"
        status: 201 Created
        code: 201
        duration: 3.70276775s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"tag_test1","description":"Test Tag 1","color":"#ff0000"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_mVJKz3DRAgtYrKldYoVosnpnKAq","type":"tags","attributes":{"name":"tag_test1","slug":"tag_test1","description":"Test Tag 1","color":"#ff0000","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b13187678d831707083065a8c1e247e7"
        status: 201 Created
        code: 201
        duration: 942.585167ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network","attributes":{"description":"Testing Virtual Network via golang client","site":"SAO","project":"proj_XDO7NYqdeNPgw"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks
        method: POST
      response:
        body: '{"data":{"id":"vlan_R82A0ydKLa6mM","type":"virtual_networks","attributes":{"tags":[],"vid":2085,"name":"SAO-2085","description":"Testing Virtual Network via golang client","site":"SAO"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"7d24bb32557651caaaa2dc337cd36761"
        status: 201 Created
        code: 201
        duration: 1.376402916s
    - id: 4
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"vlan_R82A0ydKLa6mM","type":"virtual_networks","attributes":{"description":"Updating Virtual Network via golang client","tags":["tag_mVJKz3DRAgtYrKldYoVosnpnKAq","tag_6XY9931A2GtwogKyRGpOT68GkOZ3"]}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/vlan_R82A0ydKLa6mM
        method: PATCH
      response:
        body: '{"data":{"id":"vlan_R82A0ydKLa6mM","type":"virtual_networks","attributes":{"tags":[{"id":"tag_mVJKz3DRAgtYrKldYoVosnpnKAq","name":"tag_test1","description":"Test Tag 1","color":"#ff0000"},{"id":"tag_6XY9931A2GtwogKyRGpOT68GkOZ3","name":"tag_test2","description":"Test Tag 2","color":"#0400ff"}],"vid":2085,"name":"SAO-2085","description":"Updating Virtual Network via golang client","site":"SAO"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"d155316af58911a91dcb4cd5130ba756"
        status: 200 OK
        code: 200
        duration: 1.313722917s
    - id: 5
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/vlan_R82A0ydKLa6mM
        method: GET
      response:
        body: '{"data":{"id":"vlan_R82A0ydKLa6mM","type":"virtual_networks","attributes":{"tags":[{"id":"tag_mVJKz3DRAgtYrKldYoVosnpnKAq","name":"tag_test1","description":"Test Tag 1","color":"#ff0000"},{"id":"tag_6XY9931A2GtwogKyRGpOT68GkOZ3","name":"tag_test2","description":"Test Tag 2","color":"#0400ff"}],"vid":2085,"description":"Updating Virtual Network via golang client","region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"assignments_count":0}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4c23e9554958c6d372db35787bc20e32"
        status: 200 OK
        code: 200
        duration: 670.171209ms
[...]
    - id: 8
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_mVJKz3DRAgtYrKldYoVosnpnKAq
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 949.298375ms
    - id: 9
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_6XY9931A2GtwogKyRGpOT68GkOZ3
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 902.397875ms
    - id: 10
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_XDO7NYqdeNPgw
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.778389708s
