---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/regions?filter%5Bslug%5D=SAO
        method: GET
      response:
        body: '{"data":[{"id":"loc_87vRENkgNdPyk","type":"regions","attributes":{"name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1","country":{"name":"Brazil","slug":"brazil"},"type":"Core"}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"2bcdc180c60c7966943da0bf2c11de35"
        status: 200 OK
        code: 200
        duration: 923.895666ms
