---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/roles
        method: GET
      response:
        body: '{"data":[{"id":"role_vrWpnDB17xFevgx19XOnT7JjYPX","type":"roles","attributes":{"name":"administrator"}},{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","type":"roles","attributes":{"name":"owner"}},{"id":"role_GXwKmmR11xUrRGRlvq19iBwopdAX","type":"roles","attributes":{"name":"collaborator"}},{"id":"role_QzLe47jDAQH34V4OzZGws6EDVXO","type":"roles","attributes":{"name":"billing"}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"92c4fb986883409e8d744662c30d05b6"
        status: 200 OK
        code: 200
        duration: 1.113620458s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/roles/role_vrWpnDB17xFevgx19XOnT7JjYPX
        method: GET
      response:
        body: '{"data":{"id":"role_vrWpnDB17xFevgx19XOnT7JjYPX","type":"roles","attributes":{"name":"administrator"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"72b4b2247323e5d365bb87aa34713994"
        status: 200 OK
        code: 200
        duration: 987.548ms
