---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/regions
        method: GET
      response:
        body: '{"data":[{"id":"loc_OmJyo0vL5Dkw9","type":"regions","attributes":{"name":"Sydney 2","slug":"SYD2","facility":"Equinix SY5","country":{"name":"Australia","slug":"australia"},"type":"Core"}},{"id":"loc_4g3PYaR30yozM","type":"regions","attributes":{"name":"Singapore","slug":"SGP","facility":"Equinix SG2","country":{"name":"Singapore","slug":"singapore"},"type":"Core"}},{"id":"loc_nzZOo0leNKQYb","type":"regions","attributes":{"name":"Tokyo 3","slug":"TYO3","facility":"Equinix TY10","country":{"name":"Japan","slug":"japan"},"type":"Core"}},{"id":"loc_28mop5gvNjxvn","type":"regions","attributes":{"name":"London 2","slug":"LON2","fa[...]
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/regions/loc_OmJyo0vL5Dkw9
        method: GET
      response:
        body: '{"data":{"id":"loc_OmJyo0vL5Dkw9","type":"regions","attributes":{"name":"Sydney 2","slug":"SYD2","facility":"Equinix SY5","country":{"name":"Australia","slug":"australia"},"type":"Core"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"e529ad7e065f50465ccffb0bdc60e9a9"
        status: 200 OK
        code: 200
        duration: 918.458ms
