---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_XDO7NYyZ1NPgw","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"sub_1Pg7EdLpWuMxVFxQNlazuTfN","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-07-24T15:36:10+00:00","updated_at":"2024-07-24T15:36:10+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"86276b37c028f9a6199ad1bda103032e"
        status: 201 Created
        code: 201
        duration: 10.135374083s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"tag_test1","description":"Test Tag 1","color":"#ff0000"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_pKeAbZBW3OSn3zenn7ERsJWKJQE","type":"tags","attributes":{"name":"tag_test1","slug":"tag_test1","description":"Test Tag 1","color":"#ff0000","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"bc46d2ddc349a8c02e7cf0bbff5a8720"
        status: 201 Created
        code: 201
        duration: 642.680042ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_XDO7NYyZ1NPgw","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_24_04_x64_lts","hostname":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_LqG158rA60BOg","attributes":{"hostname":"testrand","label":"196S008132","role":"Bare Metal","status":"starting_deploy","primary_ipv4":"177.54.145.86","specs":{"cpu":"Xeon E-2286G CPU @ 4.00GHz (6 cores)","disk":"1 TB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"2b0e84507ae4770a7f24c1192bbd25f7"
        status: 201 Created
        code: 201
        duration: 2.654341833s
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_LqG158rA60BOg
        method: GET
      response:
        body: '{"data":{"id":"sv_LqG158rA60BOg","type":"servers","attributes":{"tags":[],"hostname":"testrand","label":"196S008132","price":1349.0,"role":"Bare Metal","primary_ipv4":"177.54.145.86","status":"on","ipmi_status":"Normal","created_at":"2024-07-24T15:36:28+00:00","scheduled_deletion_at":null,"locked":false,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"project":{"id":"proj_XDO7NYyZ1NPgw","name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":null,"billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"sub_1Pg7EdLpWuMxVFxQNlazuTfN","type":"Normal","method":"Normal"},"stats":{"ip_addresses":0,"prefixes":0,"servers":1,"containers":0,"vlans":0}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_24_04_x64_lts","version":"24.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"noble"}},"specs":{"cpu":"Xeon E-2286G CPU @ 4.00GHz (6 cores)","disk":"1 TB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"b352a90db8635b03430c76051b429461"
        status: 200 OK
        code: 200
        duration: 774.256ms
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers?filter%5Bproject%5D=proj_XDO7NYyZ1NPgw
        method: GET
      response:
        body: '{"data":[{"id":"sv_LqG158rA60BOg","type":"servers","attributes":{"tags":[{"id":"tag_3vwMAjnwk3cPljX7R12MuO9KkgM2","name":"tag_test2","descripti[...]
    - id: 7
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG158rA60BOg/lock
        method: POST
      response:
        body: '{"data":{"id":"sv_LqG158rA60BOg","type":"servers","attributes":{"hostname":"testrand","label":"196[...]
    - id: 8
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"sv_LqG158rA60BOg","type":"servers","attributes":{"hostname":"should-not-update"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG158rA60BOg
        method: PATCH
      response:
        body: '{"errors":[{"code":null,"status":"locked","title":"Locked Server","detail":"Server is locked and cannot be updated or deleted","meta":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 423 Locked
        code: 423
        duration: 387.230833ms
    - id: 9
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG158rA60BOg/unlock
        method: POST
      response:
        body: '{"data":{"id":"sv_LqG158rA60BOg","type":"servers","attributes":{"hostname":"testrand","label":"1[...]
[...]
    - id: 11
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_pKeAbZBW3OSn3zenn7ERsJWKJQE
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 554.972417ms
    - id: 12
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_3vwMAjnwk3cPljX7R12MuO9KkgM2
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 209.412792ms
    - id: 13
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_XDO7NYyZ1NPgw
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.784239375s
