---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_ogXka9j6M0JdB","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-06-28T18:41:51+00:00","updated_at":"2024-06-28T18:41:51+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"18963364ebb591c6501ae46b91b2d315"
        status: 201 Created
        code: 201
        duration: 3.68498175s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"tag_test1","description":"Test Tag 1","color":"#ff0000"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_OPE6gwDkyEig6JMj8lL6hlekAKo","type":"tags","attributes":{"name":"tag_test1","slug":"tag_test1","description":"Test Tag 1","color":"#ff0000","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"70ed81f75ff1f3e8f63f918e190c98bf"
        status: 201 Created
        code: 201
        duration: 913.009416ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"ssh_keys","attributes":{"name":"testrand","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQZtz6DPH4Y04vYLdOch5xOzDY7cdGWpYjBFx5H7ZzieVoRwartZAVTGX4qFT9aoyCuuE6qXYcTj6G1CdO5fb8iOtU6K3FdzVyw/WQ/c4sCehEL+wbYrOnXJSYMhLsUAFhZ69tTdmQSgctbv44yP32Z4xiE4zc/Bk465F3u4Zi1Jj883fyAgzahTWXOxpmvYAEuS6Qv6w4yJc6giiGFVYmu+N6h9j348UgbpToYiCSnSM4iNa9fs7sBGufOa9FuXtggPfXtpyk9f05AhkKEjPlCXcDNAq0GsvN2QEx3tYw6i5ze0qehv6EBAtwx3PLrj636O6IgSh0DgrZBih9NBov"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_ogXka9j6M0JdB/ssh_keys
        method: POST
      response:
        body: '{"data":{"id":"ssh_zrPm0dDLW0KOw","type":"ssh_keys","attributes":{"tags":[],"name":"testrand","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQZtz6DPH4Y04vYLdOch5xOzDY7cdGWpYjBFx5H7ZzieVoRwartZAVTGX4qFT9aoyCuuE6qXYcTj6G1CdO5fb8iOtU6K3FdzVyw/WQ/c4sCehEL+wbYrOnXJSYMhLsUAFhZ69tTdmQSgctbv44yP32Z4xiE4zc/Bk465F3u4Zi1Jj883fyAgzahTWXOxpmvYAEuS6Qv6w4yJc6giiGFVYmu+N6h9j348UgbpToYiCSnSM4iNa9fs7sBGufOa9FuXtggPfXtpyk9f05AhkKEjPlCXcDNAq0GsvN2QEx3tYw6i5ze0qehv6EBAtwx3PLrj636O6IgSh0DgrZBih9NBov","fingerprint":"4d:19:a4:4a:74:db:9a:56:6f:64:a3:0a:7b:0d:1c:96","created_at":"2024-06-28T18:42:01+00:00","updated_at":"2024-06-28T18:42:01+00:00","user":{"id":"[REDACTED]","first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11.502Z","updated_at":"2024-01-17T17:13:27.005Z","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"461b06762fded78ad4577a1883ad1982"
        status: 201 Created
        code: 201
        duration: 609.346458ms
[...]
    - id: 5
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_ogXka9j6M0JdB/ssh_keys/ssh_zrPm0dDLW0KOw
        method: GET
      response:
        body: '{"data":{"id":"ssh_zrPm0dDLW0KOw","type":"ssh_keys","attributes":{"tags":[],"name":"testrand","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAA[...]
[...]
    - id: 9
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_OPE6gwDkyEig6JMj8lL6hlekAKo
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 595.711833ms
    - id: 10
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_7WmjLx3VRbCnbz1MVDmzH8E3g3j
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 581.8885ms
    - id: 11
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_ogXka9j6M0JdB
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.434261833s
