---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/user/profile
        method: GET
      response:
        body: '{"data":{"id":"user_k4ABY8xRy2clpvQkZbn3U99YdXk3","type":"users","attributes":{"first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11+00:00","updated_at":"2024-01-17T17:13:27+00:00","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"6e5ecc6c1650bd36f72b6ae6f32747b6"
        status: 200 OK
        code: 200
        duration: 2.558811333s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/user/teams
        method: GET
      response:
        body: '{"data":[{"id":"team_LPPKAoBLOdU3K9WYL23xtZ8PQXp","type":"teams","attributes":{"name":"testrand","slug":"testrand","address":"testrand","currency":"USD","created_at":"2024-06-21T13:07:56+00:00","updated_at":"2024-06-21T13:07:58+00:00","status":"verified","users":[{"id":"[REDACTED]","first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11.502Z","updated_at":"2024-01-17T17:13:27.005Z","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}}],"projects":[],"owner":{"id":"[REDACTED]","first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11.502Z","updated_at":"2024-01-17T17:13:27.005Z","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}},"billing":{"id":10000,"customer_billing_id":"[REDACTED]"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"a367d6250d6ac34540c0ea1d23573b47"
        status: 200 OK
        code: 200
        duration: 1.228389334s
