---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_zrPm0dd1z0KOw","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"sub_1Pg6RkLpWuMxVFxQ3M2fC48g","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-07-24T14:45:39+00:00","updated_at":"2024-07-24T14:45:39+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"da2a9fcbd0d85ff21689bfc4290f69d0"
        status: 201 Created
        code: 201
        duration: 3.309532292s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"tag_test1","description":"Test Tag 1","color":"#ff0000"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_vXkm3rRrlYseymQm2WyEtgVKZn7","type":"tags","attributes":{"name":"tag_test1","slug":"tag_test1","description":"Test Tag 1","color":"#ff0000","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"7ea84e22fcc73953acc1bc40094e4825"
        status: 201 Created
        code: 201
        duration: 580.588875ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_zrPm0dd1z0KOw","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_24_04_x64_lts","hostname":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_LqG1582Pd0BOg","attributes":{"hostname":"testrand","label":"197S001113","role":"Bare Metal","status":"deploying","primary_ipv4":"189.1.168.25","specs":{"cpu":"Xeon E-2176G CPU @ 3.70GHz (6 cores)","disk":"2 X 1 TB SSD","ram":"32 GB","nic":"2 X 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"53757c5995312084dd8bba1110db6963"
        status: 201 Created
        code: 201
        duration: 2.5236255s
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_LqG1582Pd0BOg
        method: GET
      response:
        body: '{"data":{"id":"sv_LqG1582Pd0BOg","type":"servers","attributes":{"tags":[],"hostname":"testrand","label":"197S001113","price":1349.0,"role":"Bare Metal","primary_ipv4":"189.1.168.25","status":"on","ipmi_status":"Normal","created_at":"2024-07-24T14:45:49+00:00","scheduled_deletion_at":null,"locked":false,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"project":{"id":"proj_zrPm0dd1z0KOw","name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":null,"billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"sub_1Pg6RkLpWuMxVFxQ3M2fC48g","type":"Normal","method":"Normal"},"stats":{"ip_addresses":0,"prefixes":0,"servers":1,"containers":0,"vlans":0}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_24_04_x64_lts","version":"24.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"noble"}},"specs":{"cpu":"Xeon E-2176G CPU @ 3.70GHz (6 cores)","disk":"2 X 1 TB SSD","ram":"32 GB","nic":"2 X 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"dca759228c8f0dea3c1ca79b26537168"
        status: 200 OK
        code: 200
        duration: 1.169500625s
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers?filter%5Bproject%5D=proj_zrPm0dd1z0KOw
        method: GET
      response:
        body: '{"data":[{"id":"sv_LqG1582Pd0BOg","type":"servers","attributes":{"tags":[{"id":"tag_vXkm3rRrlYseymQm2WyEtgVKZn7","name":"tag_test1","descriptio[...]
    - id: 7
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG1582Pd0BOg/lock
        method: POST
      response:
        body: '{"data":{"id":"sv_LqG1582Pd0BOg","type":"servers","attributes":{"hostname":"testrand","label":"197[...]
    - id: 8
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"sv_LqG1582Pd0BOg","type":"servers","attributes":{"hostname":"should-not-update"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG1582Pd0BOg
        method: PATCH
      response:
        body: '{"errors":[{"code":null,"status":"locked","title":"Locked Server","detail":"Server is locked and cannot be updated or deleted","meta":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 423 Locked
        code: 423
        duration: 548.69775ms
    - id: 9
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers/sv_LqG1582Pd0BOg/unlock
        method: POST
      response:
        body: '{"data":{"id":"sv_LqG1582Pd0BOg","type":"servers","attributes":{"hostname":"testrand","label":"1[...]
[...]
    - id: 12
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_vXkm3rRrlYseymQm2WyEtgVKZn7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 570.595458ms
    - id: 13
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_pZX9q14RjYIn2yBZYen2HpqmB83X
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 571.663625ms
    - id: 14
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_zrPm0dd1z0KOw
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.868500917s
