---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"teams","attributes":{"name":"testrand","currency":"USD","address":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/team
        method: POST
      response:
        body: '{"data":{"id":"team_KleLbWOXxJH3oKwx4OxvH4zmLDnY","type":"teams","attributes":{"name":"testrand","slug":"testrand","address":"testrand","currency":"USD","token":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5tYXhpaG9zdC5jb20iLCJzdWIiOnsiZW1haWwiOiJ5dXJpLmh1bW1lbEBsYXRpdHVkZS5zaCIsInV1aWQiOiI2YmE4ZWE3NC1lOGE4LTQ5ZjQtYTNlYS1mOWMwYmJlMTE5OTAifSwiYXVkIjoiY29udHJvbC5tYXhpaG9zdC5jb20uYnIiLCJpYXQiOjE3MTk2MDIyOTQsImV4cCI6MTcxOTY4ODY5NCwianRpIjoiYzdlYjllOTQtN2JlYy00ZWUxLWJjYjEtOGEwOGRkYjAwZjZlIn0.5K9hQQskecG3Mf-bFbiafJtwt0uXBjD2odHQyScK4PI","customer_billing_id":"[REDACTED]","referred_code":null}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"90aec185d533b647a1239089c5e22c2d"
        status: 201 Created
        code: 201
        duration: 3.930657875s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/team
        method: GET
      response:
        body: '{"data":[{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","type":"teams","attributes":{"name":"SDK-Teams-test","slug":"sdk-teams-test","address":"HzoVWLcu","currency":"USD","created_at":"2024-03-05T20:16:17+00:00","updated_at":"2024-03-05T20:22:36+00:00","status":"verified","users":[{"id":"[REDACTED]","first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11.502Z","updated_at":"2024-01-17T17:13:27.005Z","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}}],"projects":[],"owner":{"id":"[REDACTED]","first_name":"test","last_name":"user","email":"test.user@latitude.sh","created_at":"2023-02-13T15:06:11.502Z","updated_at":"2024-01-17T17:13:27.005Z","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner","created_at":"2024-03-05T20:16:17.506Z","updated_at":"2024-03-05T20:16:17.506Z"}},"billing":{"id":10000,"customer_billing_id":"[REDACTED]"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"371591c4383b9d088066d94fd040e4d4"
        status: 200 OK
        code: 200
        duration: 926.705292ms
