---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/team/members
        method: GET
      response:
        body: '{"data":[{"id":"[REDACTED]","type":"users","attributes":{"first_name":"test","last_name":"user","email":"test.user@latitude.sh","mfa_enabled":false,"created_at":"2024-03-05T20:16:17+00:00","updated_at":"2024-03-05T20:16:17+00:00","last_login_at":"2024-06-27T20:18:35+00:00","role":{"id":"role_VyV9MYdZqdhoE1dwmxdJsM49Z9D","name":"owner"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"d05e14e879954b33d73ff0960a5560a1"
        status: 200 OK
        code: 200
        duration: 949.834209ms
[...]
    - id: 2
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/team/members/user_jV2wz6GeZ1Fe7MWoV3JLCYdPZok
        method: DELETE
      response:
        body: '{"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"e687ef92c8b55cc7615daca748f6f7e9"
        status: 200 OK
        code: 200
        duration: 1.503907958s
