---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_lnow0OWXg09x1","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-06-28T18:28:20+00:00","updated_at":"2024-06-28T18:28:20+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"970493bb20cfc7c10b91e0ca88b17a4f"
        status: 201 Created
        code: 201
        duration: 7.411105875s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"tags","attributes":{"name":"tag_test1","description":"Test Tag 1","color":"#ff0000"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_OAQGmGQ6rligLryDKAdxt3YwjPJ","type":"tags","attributes":{"name":"tag_test1","slug":"tag_test1","description":"Test Tag 1","color":"#ff0000","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"110966d863b3f7ab5c19fa360f236333"
        status: 201 Created
        code: 201
        duration: 979.191417ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_lnow0OWXg09x1","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_22_04_x64_lts","hostname":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_vAPXaMBLp0epz","attributes":{"hostname":"testrand","label":"197S007871NODE6","role":"Bare Metal","status":"starting_deploy","primary_ipv4":"189.1.174.36","specs":{"cpu":"Xeon E-2286G CPU @ 4.00GHz (6 cores)","disk":"2 X 1 TB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"a75754e12ee609735f71382faad490e2"
        status: 201 Created
        code: 201
        duration: 2.102942791s
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_vAPXaMBLp0epz
        method: GET
      response:
        body: '{"data":{"id":"sv_vAPXaMBLp0epz","type":"servers","attributes":{"tags":[],"hostname":"testrand","label":"197S007871NODE6","price":1349.0,"role":"Bare Metal","primary_ipv4":"189.1.174.36","status":"on","ipmi_status":"Normal","created_at":"2024-06-28T18:28:36+00:00","scheduled_deletion_at":null,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"project":{"id":"proj_lnow0OWXg09x1","name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":null,"billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"stats":{"ip_addresses":0,"prefixes":0,"servers":1,"containers":0,"vlans":0}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"yearly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_22_04_x64_lts","version":"22.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"jammy"}},"specs":{"cpu":"Xeon E-2286G CPU @ 4.00GHz (6 cores)","disk":"2 X 1 TB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"bc77b4932d303da1788a03c93bf22c0c"
        status: 200 OK
        code: 200
        duration: 1.152099792s
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers?filter%5Bproject%5D=proj_lnow0OWXg09x1
        method: GET
      response:
        body: '{"data":[{"id":"sv_vAPXaMBLp0epz","type":"servers","attributes":{"tags":[{"id":"tag_OAQGmGQ6rligLryDKAdxt3YwjPJ","name":"tag_test1","descriptio[...]
[...]
    - id: 8
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_OAQGmGQ6rligLryDKAdxt3YwjPJ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 690.036708ms
    - id: 9
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_Dp37mXkl6XS1meAwz3r7H7YzABdg
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 294.0015ms
    - id: 10
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_lnow0OWXg09x1
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.279325709s
