---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"LATITUDE_TEST_PROJECT_testrand","provisioning_type":"reserved","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_6B9VaLrDAN7vr","type":"projects","attributes":{"tags":[],"name":"LATITUDE_TEST_PROJECT_testrand","slug":"latitude_test_project_testrand","description":"","bandwidth_alert":null,"environment":"Development","provisioning_type":"reserved","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"[REDACTED]","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-06-28T18:51:15+00:00","updated_at":"2024-06-28T18:51:15+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"be795f117d7b2632082e5e82a5f61096"
        status: 201 Created
        code: 201
        duration: 3.620851959s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"user_data","attributes":{"description":"testrand","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ=="}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_6B9VaLrDAN7vr/user_data
        method: POST
      response:
        body: '{"data":{"id":"ud_3xMV0xEdNmQp7","type":"user_data","attributes":{"description":"testrand","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ==","created_at":"2024-06-28T18:51:22+00:00","updated_at":"2024-06-28T18:51:22+00:00","decoded_content":"latitudesh user data example"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"70c87257d01a5a9b5a9a4f306b180fdc"
        status: 201 Created
        code: 201
        duration: 947.278416ms
    - id: 2
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"ud_3xMV0xEdNmQp7","type":"user_data","attributes":{"description":"testrand"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_6B9VaLrDAN7vr/user_data/ud_3xMV0xEdNmQp7
        method: PATCH
      response:
        body: '{"data":{"id":"ud_3xMV0xEdNmQp7","type":"user_data","attributes":{"description":"testrand","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ==","created_at":"2024-06-28T18:51:22+00:00","updated_at":"2024-06-28T18:51:22+00:00","decoded_content":"latitudesh user data example"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"70c87257d01a5a9b5a9a4f306b180fdc"
        status: 200 OK
        code: 200
        duration: 965.038166ms
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_6B9VaLrDAN7vr
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 1.380132042s
